html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'lato-black';
  src: url('../fonts/lato/lato-black.eot');
  src: local('Lato Heavy'), local('Lato-Heavy'), url('../fonts/lato/lato-black.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-black.woff2') format('woff2'), url('../fonts/lato/lato-black.woff') format('woff'), url('../fonts/lato/lato-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'lato-semibold';
  src: url('../fonts/lato/lato-semibold.eot');
  src: local('Lato Semibold'), local('Lato-Semibold'), url('../fonts/lato/lato-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-semibold.woff2') format('woff2'), url('../fonts/lato/lato-semibold.woff') format('woff'), url('../fonts/lato/lato-semibold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'lato-medium';
  src: url('../fonts/lato/lato-medium.eot');
  src: local('Lato Medium'), local('Lato-Medium'), url('../fonts/lato/lato-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-medium.woff2') format('woff2'), url('../fonts/lato/lato-medium.woff') format('woff'), url('../fonts/lato/lato-medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'lato-light';
  src: url('../fonts/lato/lato-light.eot');
  src: local('Lato Light'), local('Lato-Light'), url('../fonts/lato/lato-light.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-light.woff2') format('woff2'), url('../fonts/lato/lato-light.woff') format('woff'), url('../fonts/lato/lato-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'lato-mediumItalic';
  src: url('../fonts/lato/lato-mediumItalic.eot');
  src: local('Lato Medium Italic'), local('Lato-MediumItalic'), url('../fonts/lato/lato-mediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/lato/lato-mediumItalic.woff2') format('woff2'), url('../fonts/lato/lato-mediumItalic.woff') format('woff'), url('../fonts/lato/lato-mediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
.body,
.main,
.footer {
  margin: 0 auto;
}
.container {
  width: 1600px;
  margin: 0 auto;
}
@media (max-width: 1599px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 375px;
  }
}
.header {
  width: 100%;
  margin: 0 auto;
  background-color: #222222;
  padding: 18px 231px 19px 231px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 1599px) {
  .header {
    padding: 18px 41px 18px 32px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 18px 16px 18px 16px;
  }
}
.header-wrp {
  align-self: center;
}
.header-wrp:nth-child(1) > button {
  margin: 0;
}
.header-logo {
  margin: 0 41px 0 0;
  text-decoration: none;
}
.header-btn {
  padding: 0;
  box-sizing: border-box;
  margin: 0 0 0 33px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header-btn:nth-child(1) {
  margin: 0;
}
@media (max-width: 767px) {
  .header-btn:nth-child(2) {
    display: none;
  }
}
.header-btn:nth-child(3) {
  position: relative;
}
@media (max-width: 767px) {
  .header-btn:nth-child(3) {
    display: none;
  }
}
.header-btn:nth-child(3):before {
  content: "5";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #F16D7F;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: -3px;
  left: 22px;
  z-index: 5;
}
.header-btn:nth-child(3):hover::before,
.header-btn:nth-child(3):focus::before {
  opacity: 0.7;
}
.header-btn:nth-child(3):active::before {
  opacity: 0.4;
}
.header-btn__search-icon,
.header-btn__menu-icon,
.header-btn__profile-icon,
.header-btn__cart-icon {
  fill: #E8E8E8;
}
.header-btn__search-icon:hover,
.header-btn__menu-icon:hover,
.header-btn__profile-icon:hover,
.header-btn__cart-icon:hover,
.header-btn__search-icon:focus,
.header-btn__menu-icon:focus,
.header-btn__profile-icon:focus,
.header-btn__cart-icon:focus {
  opacity: 0.7;
}
.header-btn__search-icon:active,
.header-btn__menu-icon:active,
.header-btn__profile-icon:active,
.header-btn__cart-icon:active {
  opacity: 0.4;
}
.header-menu {
  display: none;
  width: 232px;
  height: 764px;
  padding: 37px 0 0 34px;
  box-sizing: border-box;
  top: 100%;
  right: 0;
  position: absolute;
  background: #fff;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.header-menu__title {
  margin: 0 0 24px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'lato-semibold';
  color: #000000;
}
.header-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header-menu__list_line {
  margin: 0 0 12px 0;
}
.header-menu__link {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'lato-medium';
  color: #f16d7f;
  text-decoration: none;
}
.header-menu__link:hover,
.header-menu__link:focus {
  text-decoration: underline dotted #F16D7F;
}
.header-menu__link:active {
  opacity: 0.8;
}
.header-menu__link_2 {
  text-transform: capitalize;
  font-size: 14px;
  font-family: 'lato-medium';
  color: #6f6e6e;
  text-decoration: none;
}
.header-menu__link_2:hover,
.header-menu__link_2:focus {
  text-decoration: underline dotted #6F6E6E;
}
.header-menu__link_2:active {
  opacity: 0.8;
}
.header-menu .header-menu__close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  cursor: pointer;
}
.header-menu .header-menu__close:hover,
.header-menu .header-menu__close:focus {
  opacity: 1;
}
.header-menu .header-menu__close:active {
  opacity: 0.8;
}
.header-menu .header-menu__close:before,
.header-menu .header-menu__close:after {
  position: absolute;
  left: 10px;
  content: ' ';
  height: 16px;
  width: 2px;
  background-color: #333;
}
.header-menu .header-menu__close:before {
  transform: rotate(45deg);
}
.header-menu .header-menu__close:after {
  transform: rotate(-45deg);
}
.display-block {
  display: block;
}
.margin0_0_11_0 {
  margin: 0 0 11px 0;
}
.padding0_0_0_20 {
  padding: 0 0 0 20px;
}
.brand {
  width: 100%;
  min-height: 764px;
  background-color: #F1E4E6;
  background-image: url(../img/brand/brand_img.png);
  background-repeat: no-repeat;
  position: relative;
}
@media (max-width: 1599px) {
  .brand {
    min-height: 368px;
    background-size: 50%;
  }
}
@media (max-width: 767px) {
  .brand {
    min-height: 363px;
    background-image: none;
  }
}
.brand-name {
  padding: 0 0 0 16px;
  box-sizing: border-box;
  position: absolute;
  left: 55.75%;
  top: 38%;
  border-left: 12px solid #F16D7F;
}
@media (max-width: 767px) {
  .brand-name {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.brand-name__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 37px;
  font-family: 'lato-semibold';
  color: #000000;
}
@media (max-width: 1599px) {
  .brand-name__title {
    font-size: 24px;
    font-family: 'lato-semibold';
    color: #000000;
  }
}
@media (max-width: 767px) {
  .brand-name__title {
    font-size: 20px;
    font-family: 'lato-semibold';
    color: #000000;
  }
}
.brand-name__title_bold {
  font-size: 48px;
  font-family: 'lato-black';
  color: #000000;
}
@media (max-width: 1599px) {
  .brand-name__title_bold {
    font-size: 37px;
    font-family: 'lato-black';
    color: #000000;
  }
}
.brand-name__title_color {
  font-size: 37px;
  font-family: 'lato-semibold';
  color: #f16d7f;
}
@media (max-width: 1599px) {
  .brand-name__title_color {
    font-size: 24px;
    font-family: 'lato-semibold';
    color: #f16d7f;
  }
}
@media (max-width: 767px) {
  .brand-name__title_color {
    font-size: 20px;
    font-family: 'lato-semibold';
    color: #f16d7f;
  }
}
.offer {
  width: 100%;
  padding: 65px 230px 48px 230px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1599px) {
  .offer {
    padding: 20px 16px 77px 16px;
  }
}
@media (max-width: 767px) {
  .offer {
    padding: 64px 16px 32px 16px;
  }
}
.offer-box {
  margin: 0 30px 30px 0;
  position: relative;
}
.offer-box__img {
  width: 360px;
  height: 260px;
}
@media (max-width: 1599px) {
  .offer-box__img {
    width: 232px;
    height: 167px;
  }
}
@media (max-width: 767px) {
  .offer-box__img {
    width: 343px;
    height: 237px;
  }
}
@media (max-width: 1599px) {
  .offer-box {
    margin: 0 20px 20px 0;
  }
}
@media (max-width: 767px) {
  .offer-box {
    margin: 0 0 32px 0;
  }
}
.offer-box:nth-child(3) {
  margin: 0 0 30px 0;
}
@media (max-width: 1599px) {
  .offer-box:nth-child(3) {
    margin: 0 0 20px 0;
  }
}
.offer-box:nth-child(4) {
  margin: 0;
}
@media (max-width: 767px) {
  .offer-box:nth-child(4) {
    margin: 0;
  }
}
.offer-box__text {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-family: 'lato-medium';
  color: #f16d7f;
  text-transform: uppercase;
  text-align: center;
}
.offer-box__text_color {
  font-size: 16px;
  font-family: 'lato-semibold';
  color: #ffffff;
}
.img-big {
  width: 1140px;
  height: 180px;
}
@media (max-width: 1599px) {
  .img-big {
    width: 735px;
    height: 116px;
  }
}
@media (max-width: 767px) {
  .img-big {
    width: 343px;
    height: 111px;
  }
}
.products {
  width: 100%;
  min-height: 1538px;
  padding: 48px 230px 96px 230px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1599px) {
  .products {
    padding: 77px 16px 65px 16px;
  }
}
@media (max-width: 767px) {
  .products {
    padding: 32px 8px 36px 8px;
  }
}
.products__title {
  width: 100%;
  text-align: center;
  margin: 0 0 6px 0;
  font-size: 30px;
  font-family: 'lato-semibold';
  color: #000000;
  text-transform: capitalize;
}
.products__title_text {
  width: 100%;
  text-align: center;
  margin: 0 0 48px 0;
  font-size: 14px;
  font-family: 'lato-semibold';
  color: #9f9f9f;
}
.products-item {
  width: 360px;
  margin: 0 30px 30px 0;
  position: relative;
}
@media (max-width: 1599px) {
  .products-item {
    margin: 0 16px 16px 0;
  }
}
@media (max-width: 767px) {
  .products-item {
    margin: 0 0 16px 0;
  }
}
.products-item:hover .visible-unvisible {
  display: flex;
}
.products-item:hover .products-item__img {
  filter: brightness(30%);
}
.products-item__img {
  display: block;
}
.products-item__wrp {
  padding: 25px 28px 20px 16px;
  box-sizing: border-box;
  background-color: #F8F8F8;
}
.products-item__title {
  margin: 0 0 12px 0;
  font-size: 13px;
  font-family: 'lato-medium';
  color: #000000;
  text-transform: uppercase;
}
.products-item__text {
  margin: 0 0 18px 0;
  font-size: 14px;
  font-family: 'lato-light';
  color: #5d5d5d;
}
.products-item__price {
  font-size: 16px;
  font-family: 'lato-medium';
  color: #f16d7f;
}
.products-item:nth-child(5) {
  margin: 0 0 30px 0;
}
@media (max-width: 1599px) {
  .products-item:nth-child(5) {
    margin: 0 16px 16px 0;
  }
}
@media (max-width: 767px) {
  .products-item:nth-child(5) {
    margin: 0 0 16px 0;
  }
}
@media (max-width: 1599px) {
  .products-item:nth-child(7) {
    margin: 0 16px 16px 0;
  }
}
@media (max-width: 767px) {
  .products-item:nth-child(7) {
    margin: 0 0 16px 0;
  }
}
.products-item:nth-child(6),
.products-item:nth-child(7) {
  margin: 0 30px 48px 0;
}
@media (max-width: 1599px) {
  .products-item:nth-child(7) {
    margin: 0 16px 33px 0;
  }
}
@media (max-width: 767px) {
  .products-item:nth-child(7) {
    margin: 0 0 16px 0;
  }
}
.products-item:nth-child(8) {
  margin: 0 0 48px 0;
}
@media (max-width: 1599px) {
  .products-item:nth-child(4),
  .products-item:nth-child(6),
  .products-item:nth-child(8) {
    margin: 0 0 16px 0;
  }
}
@media (max-width: 1599px) {
  .products-item:nth-child(8) {
    margin: 0 0 33px 0;
  }
}
@media (max-width: 767px) {
  .products-item:nth-child(8) {
    margin: 0 0 41px 0;
  }
}
.products-item__btn {
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #fff;
  background-color: transparent;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.products-item__btn_icon {
  fill: #fff;
  margin: 0 11px 0 0;
}
.products-item__btn_text {
  font-size: 14px;
  font-family: 'lato-medium';
  color: #ffffff;
}
.products-item__btn:hover,
.products-item__btn:focus {
  opacity: 0.7;
}
.products-item__btn:active {
  opacity: 0.3;
}
.products__btn {
  width: 211px;
  min-height: 47px;
  padding: 5px;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid #FF6A6A;
  background-color: #fff;
  outline: none;
  font-size: 16px;
  font-family: 'lato-medium';
  color: #f26376;
  text-transform: capitalize;
  cursor: pointer;
  align-self: center;
}
.products__btn:hover,
.products__btn:focus {
  background-color: #FF6A6A;
  color: #fff;
}
.products__btn:active {
  opacity: 0.7;
}
.features {
  width: 100%;
  padding: 103px 230px 104px 230px;
  box-sizing: border-box;
  background-color: #222224;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1599px) {
  .features {
    padding: 48px 0 64px 0;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .features {
    padding: 48px 0 81px 0;
    align-items: center;
  }
}
.features-cart {
  width: 360px;
  padding: 0 29px 0 29px;
  box-sizing: border-box;
  margin: 0 30px 0 0;
  text-align: center;
}
@media (max-width: 1599px) {
  .features-cart {
    margin: 0 0 48px 0;
  }
}
@media (max-width: 767px) {
  .features-cart {
    margin: 0 0 48px 0;
  }
}
.features-cart:nth-child(3) {
  margin: 0;
}
.features-cart__icon {
  fill: #F16D7F;
  margin: 0 0 25px 0;
}
.features-cart__title {
  margin: 0 0 16px 0;
  font-size: 20px;
  font-family: 'lato-medium';
  color: #fbfbfb;
  text-transform: capitalize;
}
.features-cart__text {
  margin: 0;
  font-size: 14px;
  font-family: 'lato-light';
  color: #fbfbfb;
}
.subscribe {
  width: 100%;
  min-height: 448px;
  padding: 10px 327px 10px 230px;
  box-sizing: border-box;
  background-color: #F4F4F4;
  background-image: url(../img/subscribe/subscribe_bg.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1599px) {
  .subscribe {
    padding: 53px 0 70px 0;
    flex-direction: column;
    background-size: auto auto;
    background-position: left bottom;
  }
}
@media (max-width: 767px) {
  .subscribe {
    padding: 48px 0 81px 0;
  }
}
.subscribe-wrp {
  width: 360px;
  margin: 0 320px 0 0;
  text-align: center;
}
@media (max-width: 1599px) {
  .subscribe-wrp {
    margin: 0 0 48px 0;
  }
}
@media (max-width: 767px) {
  .subscribe-wrp {
    margin: 0 0 48px 0;
  }
}
.subscribe-wrp:nth-child(2) {
  margin: 0;
}
.subscribe-wrp__img {
  display: block;
  margin: 0 auto 30px auto;
}
.subscribe-wrp__text {
  margin: 0;
  font-size: 20px;
  font-family: 'lato-mediumItalic';
  color: #222224;
}
.post-email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.post-email__title {
  margin: 0 0 32px 0;
  font-size: 18px;
  font-family: 'lato-semibold';
  color: #222224;
  text-transform: uppercase;
}
.post-email__title_bold {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-family: 'lato-medium';
  color: #222224;
}
.post-email__input {
  width: 254px;
  height: 47px;
  padding: 22px;
  box-sizing: border-box;
  background-color: #E1E1E1;
  border: 1px solid #E1E1E1;
  border-radius: 20px 0 0 20px;
  outline: none;
  font-size: 14px;
  font-family: 'lato-medium';
  color: #222224;
}
.post-email__input:focus {
  background-color: #f7f3f3;
  border: 1px solid #E1E1E1;
}
.post-email__btn {
  width: 98px;
  height: 47px;
  box-sizing: border-box;
  background-color: #F16D7F;
  border: 1px solid #f1687b;
  border-radius: 0 20px 20px 0;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-family: 'lato-medium';
  color: #ffffff;
}
.post-email__btn:hover,
.post-email__btn:focus {
  background-color: #f15353;
  border: 1px solid #f15353;
}
.post-email__btn:active {
  opacity: 0.7;
}
.copyright {
  width: 100%;
  margin: 0 auto;
  background-color: #222224;
  padding: 24px 230px 23px 235px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1599px) {
  .copyright {
    padding: 24px 32px 33px 32px;
  }
}
@media (max-width: 767px) {
  .copyright {
    padding: 43px 0 9px 0;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.copyright__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .copyright__wrp {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .copyright__wrp:nth-child(2) {
    margin: 0 0 40px 0;
  }
}
.copyright__btn {
  background-color: #fff;
  width: 31.45px;
  height: 32px;
  align-self: center;
  margin: 0 7.29px 0 0;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.copyright__btn:nth-child(4) {
  margin: 0;
}
.copyright__btn:hover,
.copyright__btn:focus {
  background-color: #F16D7F;
}
.copyright__btn:active {
  opacity: 0.7;
}
.copyright__btn:hover .copyright__btn_icon,
.copyright__btn:focus .copyright__btn_icon {
  fill: #fff;
}
.copyright__btn:active .copyright__btn_icon {
  fill: #000;
}
.copyright__btn_icon {
  fill: #000;
}
.copyright__copy {
  margin: 0;
  font-size: 16px;
  font-family: 'lato-medium';
  color: #fbfbfb;
}
.registration {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}
.registration__wrp {
  min-height: 148px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #F8F3F4;
  padding: 0 0 0 230px;
  box-sizing: border-box;
}
.registration__title {
  margin: 0;
  font-size: 24px;
  font-family: 'lato-medium';
  color: #f16d7f;
  text-transform: uppercase;
}
.registration-form {
  padding: 64px 230px 96px 230px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.registration-form__profile {
  width: 360px;
  margin: 0 128px 0 0;
}
.registration-form__application {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}
.registration-form__application_label {
  width: 100%;
  margin: 0 0 20.5px 0;
  font-size: 16px;
  font-family: 'lato-light';
  color: #222222;
  text-transform: capitalize;
}
.registration-form__application_input {
  width: 360px;
  padding: 13px 10px 16px 17px;
  box-sizing: border-box;
  margin: 0 0 20px 0;
  background-color: #fff;
  border: none;
  outline: 1px solid #A4A4A4;
  font-size: 13px;
  font-family: 'lato-light';
  color: #000000;
}
.registration-form__application_input:focus {
  background-color: #f7f3f3;
}
.registration-form__application_input::placeholder {
  color: #B1B1B1;
}
.registration-form__application_input:nth-child(3) {
  margin: 0 0 31px 0;
}
.registration-form__application_input:nth-child(8) {
  margin: 0 0 15px 0;
}
.registration-form__application_radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 175px;
  left: 66px;
}
.registration-form__application_radio:checked + .label-radio:after {
  opacity: 1;
}
.registration-form__application_radio + .label-radio {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  margin: 0 10px 33px 0;
}
.registration-form__application_text {
  margin: 0 0 39px 0;
  font-size: 13px;
  font-family: 'lato-light';
  color: #b1b1b1;
}
.registration-form__application_button {
  width: 165px;
  min-height: 48px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  outline: none;
  cursor: pointer;
  align-self: center;
  font-size: 14px;
  font-family: 'lato-medium';
  color: #ffffff;
  text-transform: uppercase;
}
.registration-form__application_button:hover,
.registration-form__application_button:focus {
  background-color: #fff;
  color: #F16D7F;
}
.registration-form__application_button:hover .registration-button-icon,
.registration-form__application_button:focus .registration-button-icon {
  fill: #F16D7F;
}
.registration-form__application_button:active {
  opacity: 0.7;
}
.registration-form__application_button:active .registration-button-icon {
  opacity: 0.7;
}
.registration-button-icon {
  fill: #fff;
}
.registration-margin-right20 {
  margin: 0 20px 0 0;
}
.label-radio {
  margin: 0 20px 0 0;
  font-size: 11px;
  font-family: 'lato-light';
  color: #000000;
}
.label-radio:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  background: #FFF;
}
.label-radio:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #222222;
  opacity: 0;
}
.registration-form__percs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 24px;
  font-family: 'lato-light';
  color: #000000;
}
.registration-form__percs_title {
  margin: 0 0 22px 0;
  text-transform: uppercase;
}
.registration-form__percs_text {
  margin: 0 0 21px 0;
}
.registration-form__percs_list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.registration-form__percs_line {
  padding: 0 0 0 43px;
  box-sizing: border-box;
  margin: 0 0 16px 0;
  position: relative;
}
.registration-form__percs_line:after {
  content: "";
  display: block;
  width: 20px;
  height: 16px;
  background-image: url(../img/registration/checkMark.png);
  background-color: transparent;
  position: absolute;
  top: 7px;
  left: 0;
}
.registration-form__percs_line:nth-child(5) {
  margin: 0;
}
.cart {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}
.cart__wrp {
  min-height: 148px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #F8F3F4;
  padding: 0 0 0 230px;
  box-sizing: border-box;
}
.cart__title {
  margin: 0;
  font-size: 24px;
  font-family: 'lato-medium';
  color: #f16d7f;
  text-transform: uppercase;
}
.cart__form {
  padding: 96px 230px 128px 230px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cart__form_wrp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 360px;
}
.cart__form_wrp:nth-child(1) {
  margin: 0 128px 0 0;
  width: 652px;
}
.cart__form_wrp:nth-child(2) {
  align-self: flex-start;
}
.cart__item {
  min-height: 306px;
  margin: 0 0 40px 0;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.5);
}
.cart__item:nth-child(2) {
  margin: 0 0 40px 0;
}
.cart__item_img {
  display: block;
  background: #F4F4F4;
}
.cart__item_wrp {
  width: 390px;
  padding: 22px 20px 10px 20px;
  box-sizing: border-box;
  position: relative;
}
.cart__item_title {
  font-size: 24px;
  font-family: 'lato-medium';
  color: #222222;
  margin: 0 0 42px 0;
  text-transform: uppercase;
}
.cart__item_list {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: 22px;
  font-family: 'lato-medium';
  color: #575757;
}
.cart__item_line {
  margin: 0 0 6px 0;
}
.cart__item_line:nth-child(4) {
  margin: 0;
}
.cart__item_btnClose {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 18px;
  height: 18px;
  opacity: 0.3;
  cursor: pointer;
}
.cart__item_btnClose:hover,
.cart__item_btnClose:focus {
  opacity: 1;
}
.cart__item_btnClose:before,
.cart__item_btnClose:after {
  position: absolute;
  left: 8px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}
.cart__item_btnClose:before {
  transform: rotate(45deg);
}
.cart__item_btnClose:after {
  transform: rotate(-45deg);
}
.pink {
  color: #F16D7F;
}
.cart__btn {
  width: 233px;
  min-height: 48px;
  padding: 5px;
  box-sizing: border-box;
  margin: 32px 0 0 0;
  text-decoration: none;
  border: 1px solid #A4A4A4;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  font-family: 'lato-light';
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
  align-self: center;
}
.cart__btn:hover,
.cart__btn:focus {
  background-color: #FF6A6A;
  color: #fff;
}
.cart__btn:active {
  opacity: 0.7;
}
.box {
  outline: 1px solid #EAEAEA;
  padding: 1px 16px 1px 16px;
  box-sizing: border-box;
  margin-left: 24px;
}
.cart__adress {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 0 57px 0;
}
.cart__adress_title {
  width: 100%;
  margin: 0 0 20.5px 0;
  font-size: 16px;
  font-family: 'lato-light';
  color: #222222;
  text-transform: uppercase;
}
.cart__adress_input {
  width: 360px;
  padding: 13px 10px 16px 17px;
  margin: 0 0 20px 0;
  box-sizing: border-box;
  background-color: #fff;
  border: none;
  outline: 1px solid #A4A4A4;
  font-size: 13px;
  font-family: 'lato-light';
  color: #000000;
}
.cart__adress_input:focus {
  background-color: #f7f3f3;
}
.cart__adress_input::placeholder {
  color: #B1B1B1;
}
.cart__adress_input:nth-child(3) {
  margin: 0 0 23px 0;
}
.cart__adress_button {
  width: 98px;
  min-height: 33px;
  padding: 5px;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid #A4A4A4;
  outline: none;
  background-color: transparent;
  font-size: 11px;
  font-family: 'lato-light';
  color: #4a4a4a;
  text-transform: uppercase;
  cursor: pointer;
  align-self: center;
}
.cart__adress_button:hover,
.cart__adress_button:focus {
  background-color: #FF6A6A;
  color: #fff;
}
.cart__adress_button:active {
  opacity: 0.7;
}
.cart__buy {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 360px;
  padding: 39px 34px 42px 44px;
  box-sizing: border-box;
  background: #F5F3F3;
}
.cart__buy_sub {
  width: 100%;
  margin: 0 0 12px 0;
  text-align: right;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'lato-medium';
  color: #4a4a4a;
}
.cart__buy_grand {
  width: 100%;
  padding: 0 0 21px 0;
  margin: 0 0 17px 0;
  border-bottom: 1px solid #E2E2E2;
  text-align: right;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'lato-light';
  color: #222222;
}
.cart__buy_price {
  font-size: 16px;
  font-family: 'lato-semibold';
  color: #f16d7f;
}
.cart__buy_btn {
  width: 271px;
  min-height: 48px;
  padding: 5px;
  box-sizing: border-box;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'lato-light';
  color: #ffffff;
  text-transform: uppercase;
  align-self: center;
}
.cart__buy_btn:hover,
.cart__buy_btn:focus {
  background-color: #fff;
  color: #F16D7F;
}
.cart__buy_btn:active {
  opacity: 0.7;
}
.cart-margin-left20 {
  margin: 0 0 0 20px;
}
