@import '../less/_reset.less';
@import '../less/_fonts.less';
@import '../less/_variables.less';
@import '../less/_mixins.less';
@import '../less/_generals.less';
@import '../less/blocks_index/header/_header.less';
@import '../less/blocks_index/header/_header_menu.less';
@import '../less/blocks_index/main/_brand.less';
@import '../less/blocks_index/main/_offer.less';
@import '../less/blocks_index/main/_products.less';
@import '../less/blocks_index/main/_features.less';
@import '../less/blocks_index/footer/_subscribe.less';
@import '../less/blocks_index/footer/_copyright.less';
@import '../less/blocks_registration/_registration.less';
@import '../less/blocks_cart/_cart.less';


@media (max-width: 1599px) {
    .header {
        padding: 18px 41px 18px 32px;
    }

    .brand {
        min-height: 368px;
        background-size: 50%;
    }

    .brand-name {
        &__title {
            .text (24px, 'lato-semibold', #000);

            &_bold {
                .text (37px, 'lato-black', #000);
            }

            &_color {
                .text (24px, 'lato-semibold', #F16D7F);
            }
        }
    }
}