.copyright {
    width: @width;
    margin: @margin;
    background-color: #222224;
    padding: 24px 230px 23px 235px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .tablet ( {
            padding: 24px 32px 33px 32px;
        }

    );

    .mobile ( {
            padding: 43px 0 9px 0;
            justify-content: center;
            flex-direction: column-reverse;
            align-items: center;
        }

    );
}

.copyright__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .mobile ( {
            justify-content: center;
        }

    );

    &:nth-child(2) {
        .mobile ( {
                margin: 0 0 40px 0;

            }

        );
    }
}

.copyright__btn {
    background-color: #fff;
    width: 31.45px;
    height: 32px;
    align-self: center;
    margin: 0 7.29px 0 0;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;

    &:nth-child(4) {
        margin: 0;
    }

    &:hover,
    &:focus {
        background-color: #F16D7F;
    }

    &:active {
        opacity: 0.7;
    }

    &:hover .copyright__btn_icon,
    &:focus .copyright__btn_icon {
        fill: #fff;
    }

    &:active .copyright__btn_icon {
        fill: #000;
    }

    &_icon {
        fill: #000;
    }
}

.copyright__copy {
    margin: 0;
    .text (16px, 'lato-medium', #FBFBFB);
}